<!--Zone Bienvenue-->
<div class="row justify-content-md-center">
    <div class="col-sm-4 p-2">
      <div class="card">
        <h5 class="card-header"><%- __('index.welcomeCard.header') %></h5>
        <div class="card-body">
          <h5 class="card-title"><%- __('index.welcomeCard.title') %></h5>
          <p class="card-text"><%- __('index.welcomeCard.text') %>
          </p>
        </div>
      </div>
    </div>
  </div>
<!--Fin zone Bienvenue-->
<!--Début zone Qu'est-ce que c'est?????-->
<div class="row justify-content-md-center">
  <div class="col-sm-4 p-2">
    <div class="card">
      <h5 class="card-header"><%- __('index.whatIsItCard.header') %></h5>
      <div class="card-body">
        <h5 class="card-title"><%- __('index.whatIsItCard.title') %></h5>
        <p class="card-text"><%- __('index.whatIsItCard.text') %></p>
      </div>
    </div>
  </div>
</div>
<!--Fin zone Qu'est-ce que c'est????-->
<!--Début de la zone c'est bien mais maintenant?-->
<div class="row justify-content-md-center">
  <div class="col-sm-4 p-2">
    <div class="card">
      <h5 class="card-header"><%- __('index.whatNowCard.header') %></h5>
      <div class="card-body">
        <h5 class="card-title"><%- __('index.whatNowCard.title') %></h5>
        <p class="card-text"><%- __('index.whatNowCard.text') %></p>
      </div>
    </div>
  </div>
</div>
<!--Fin zone Qu'est-ce que c'est bien mais mainenant?-->